services:
  mongodb:
    image: mongo:latest
    container_name: mongodb_container
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  nextjs_app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - MONGODB_URI=mongodb://192.168.9.89:27017/my_database
    depends_on:
      - mongodb

volumes:
  mongo_data: